/*
!/.gitignore
!/tsconfig.json
!/Uploader.ts
!/UploadItem
/UploadItem/*
!/UploadItem/AbstractItem.ts
!/UploadItem/FileItem.ts
!/UploadItem/Base64.ts
!/UploadItem/DataUri.ts
!/UploadItem/PlainText.ts
!/UploadType
!/Options
!/MassUploadStrategy